@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #212529;
  color: #fff;
  margin: 0;
  height: 100%;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(33, 37, 41, 0.8);
  box-shadow: 0 8px 32px 0 rgba(1, 116, 190, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px 0 solid rgba(255, 255, 255, 0.18);
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  width: 80vw;
}

.landing {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #eee;
}

.logo a span {
  color: #0174be;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #fff;
}

.menu a:hover {
  opacity: 1;
  color: #9f9f9f;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

.shadow-custom {
  box-shadow: 0 8px 32px 0 rgba(1, 116, 190, 0.37);
}
.custom-box-shadow {
  box-shadow: 0 8px 32px 0 rgba(1, 116, 190, 0.37);
}

.navbar-btn {
  padding: 10px;
  background-color: #0174be;
  border-radius: 10px;
  transition: 0.2s all ease-in-out;
  box-shadow: 0 8px 32px 0 rgba(1, 116, 190, 0.6);
}
.navbar-btn:hover {
  transform: scale(1.1);
  background-color: #0174be;
  box-shadow: 0 8px 32px 0 rgba(1, 116, 190, 0.8);
}

@media only screen and (max-width: 950px) {
  .menu {
    flex-direction: column;
    background: rgba(5, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(1, 116, 190, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px 0 solid rgba(255, 255, 255, 0.18);
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
}
